<a>
  <img
    class="complementary-img"
      src="{{ card_product.featured_image | image_url: width: 1500 }}"
      alt="{{ card_product.alt }} "
      height="{{ card_product.height }}"
      width="{{ card_product.width }}"
      loading="lazy"
    >
</a>

{% schema %}
  {
    "name": "Section name",
    "tag": "section",
     "class": "section container product-container",
    "blocks": [
    {
      "type": "featured_product",
      "name": "t:sections.featured-product.name",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "t:sections.featured-product.blocks.featured-product.settings.product.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Product",
      "blocks": [
        {
          "type": "featured_product"
        },
        {
          "type": "featured_product"
        }

      ]
    }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}