<a>
  <img
    class="complementary-img"
      src="{{ card_product.featured_image | image_url: width: 1500 }}"
      alt="{{ card_product.alt }} "
      height="{{ card_product.height }}"
      width="{{ card_product.width }}"
      loading="lazy"
    >
</a>

{% schema %}
  {
    "name": "Section name",
    "tag": "section",
     "class": "section container product-container",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}