a {
  text-decoration: none;
  color: #121212;
}
.product-container {
margin-top: 50px !important;
padding: 30px !important;
}
.compl-heading {
  margin-top: 0 !important;
  margin-bottom: 20px;
}
.prod-img {
width: 200px;
height: 200px;
}
.prod-heading {
 font-size: 16px;
width: 195px;
}
.compl-container {
display: flex;
  gap: 20px;
}
.compl-add {
      height: 50px;
    width: 200px;
    background: transparent;
    border: 1px solid #121212;
    font-size: 14px;
}
.total-cont {
  display: flex;
  flex-direction: column;
}
.card-wrap:nth-child(2)::after {
  content: "+";
}