.product-container {
margin-top: 50px !important;
padding: 30px !important;
}
.compl-heading {
  margin-top: 0 !important;
  margin-bottom: 20px;
}
.compl-container {
display: flex;
  gap: 36px;
}

.total-cont {
  display: flex;
  flex-direction: column;
}

.card-wrapper::after {
  content: "+";
  font-size: 25px;
  font-weight: 600;
    position: absolute;
    bottom: 167px;
    left: 212px;
}
.card-wrap:nth-child(3)::after {
  content: "=";
  font-size: 25px;
  font-weight: 600;
    position: relative;
    bottom: 223px;
    left: 212px;
}
