a {
  text-decoration: none;
  color: #121212;
}
.product-container {
margin-top: 50px !important;
padding: 30px !important;
}

.prod-img {
width: 200px;
height: 200px;
}
.prod-heading {
 font-size: 16px;
width: 195px;
}
.compl-container {
display: flex;
}