.shop-now-link {
  border: 1px solid #121212;
  padding: 14px 0;
  width: 100%;
  text-align: center;
  }
  .quick-add {
  width: 100%;
  }

  .quick-add-button {
  color: #fff;
  background-color: #121212 ;
  }

  .prod-form {
  width: 100%;
  }

  .featured-prod-list {
    margin-bottom: 50px !important;
    margin: 0 auto;
  }

  .featured-prod-title {
  text-align: center;
  margin: 0;
    color: #4b4b4b;
    font: 400 60px/72px "High Tower" !important;   
  }

  .adding-to-cart,
  .added-to-cart {
     color: #121212
  }

  .prod-form {
    width: 100%;
  }

  .centered {
     margin: 0 auto; 
  }
.slider-item:first-child {
  margin-left: 0 !important;
}
 .grid-centered {
  justify-content: center;
} 
.shop-now-overlay {
  background-color: pink;
    padding: 10px 20px;
    text-align: center;
    font-weight: 500;
    font-size: 18px;
top: 0;
transform: translateY(100%);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
}
.product-card-wrapper:hover .shop-now-overlay {
   transform: translate(0);
}

@media screen and (max-width: 768px) {
  .featured-prod-list {
    display: table;
  }
}
@media screen and (max-width: 430px) {
  .featured-prod-title   {
    font-size: 25px !important; 
  }
}



