.shop-now-link {
  border: 1px solid #121212;
  padding: 14px 0;
  width: 90%;
  text-align: center;
  }

.card__content {
  padding-right: 10px !important;
  padding-left: 10px !important;
}
  .quick-add {
  width: 100%;
  }

  .quick-add-button {
  color: #fff;
  background-color: #121212 ;
  max-width: 90% !important;
  }

  .card__heading {
  width: 208px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
    
  }

  .prod-form {
  width: 100%;
  }

  .featured-prod-list {
    margin-bottom: 50px !important;
    margin: 0 auto;
  }

  .featured-prod-title {
  font-family: "High Tower" ;
  text-transform: uppercase;
  font-size: 37px;
  line-height: 42px;
  text-align: center;
  margin-top: 0;
  }

  .adding-to-cart,
  .added-to-cart {
     color: #121212
  }

  .prod-form {
    width: 100%;
  }

  .centered {
     margin: 0 auto; 
  }
