 .quick-add {
  position: relative; 
  grid-row-start: 4;
  margin: 0 0 1rem;
  z-index: 1;
} 

.quick-add-modal {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  visibility: hidden;
  z-index: -1;
  margin: 0 auto;
  background: rgba(30, 28, 29, 0.5);
  opacity: 0;
}

.quick-add-modal[open] {
  opacity: 1;
  visibility: visible;
  z-index: 101;
}
.quick-add-modal__content {
  position: relative;
  margin: 0 auto;
  width: 100%;
  overflow: hidden;
  max-width: var(--page-width);
  margin-top: 50px;
}
.quick-add-modal__toggle {
  position: absolute;
  right: 0;
  top: 0;
      width: 20px;
    height: 18px;
  border: none;
  background: black;
  color: #FFF;
  cursor: pointer;
}
.quick-add-modal__toggle:hover {
   background: rgba(30, 28, 29, 0.8);
 }
quick-add-modal .quick-add-hidden{
/* quick-add-modal .product__modal-opener:not(.product__modal-opener--image),
quick-add-modal .product__media-item:not(:first-child) { */
  display: none !important;
}

@media screen and (max-width: 990px) {
  .quick-add-modal__content {
    width: 80%;
  }
}
@media screen and (max-width: 750px) {
  .quick-add-modal__toggle {
    width: 30px;
    padding: 5px;
  }
}

