.swiper {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.swiper-button-prev,
.swiper-button-next {
  display: block !important;
  top: 246px
}
.swiper-button-next {
  right: 20px;
}
.swiper-button-prev::after{
  content: 'prev';
  color: black;
  font-size: 20px;
  background-color: white;
  padding: 10px;
  border-radius: 42px;
  height: 40px;
  display: inline-block;
  width: 40px;
  border: 1px solid grey;
  text-align: center;
}
.swiper-button-next::after {
  content: 'next';
  color: black;
  font-size: 20px;
  background-color: white;
  padding: 10px;
  border-radius: 42px;
  height: 40px;
  display: inline-block;
  width: 40px;
  border: 1px solid grey;
  text-align: center;
}

.swiper-slide img,
.swiper-slide video {
  width: 585px;
  height: 500px;
  object-fit: cover;
}
.swiper .deferred-media {
  padding-top: 0 !important;
}
.swiper .media>*:not(.zoom):not(.deferred-media__poster-button) {
  position: relative !important;
}
@media screen and (max-width: 990px) {
 
.swiper-slide img,
.swiper-slide video {
  width: 483px;
  height: 500px;
  object-fit: cover;
}
}