{{ 'hm.css' | asset_url | stylesheet_tag }}
{% layout none %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>
  <body>
    <header>
      <div class="container">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          class="header-svg"
          fill="none"
        >
          <g clip-path="url(#clip0_326_17779)">
              <path d="M0 0H24V24H0V0Z" fill="url(#paint0_linear_326_17779)"/>
              <mask id="mask0_326_17779" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="24">
                  <path d="M0 0H24V24H0V0Z" fill="white"/>
              </mask>
              <g mask="url(#mask0_326_17779)">
                  <path d="M3.03597 11.6671C3.15596 11.6363 3.28107 11.6309 3.40326 11.6513C3.52545 11.6717 3.64202 11.7174 3.74547 11.7856L3.84447 11.8516L3.86247 12.0661C3.90147 12.5101 3.94347 12.9181 3.98097 13.1461C4.12647 14.0641 4.41147 15.0106 4.86597 15.8461C5.75154 17.536 7.19389 18.8679 8.94882 19.6163C10.7037 20.3648 12.6634 20.4837 14.496 19.9531C16.2311 19.4416 17.756 18.3862 18.846 16.9426L19.0005 16.7311L19.1145 16.5796C19.1441 16.54 19.1881 16.5137 19.2369 16.5064C19.2858 16.4991 19.3356 16.5114 19.3755 16.5406L19.971 16.9786C20.0505 17.0386 20.0715 17.1481 20.0175 17.2321L19.9575 17.3236V17.3251C19.8157 17.5297 19.6655 17.7283 19.5075 17.9206C19.6722 17.94 19.8255 18.0145 19.9425 18.1321L20.472 18.6631C20.8245 18.3106 21.2175 18.3481 21.531 18.6601L26.4765 23.6056C27.2325 24.3616 27.453 25.4776 26.5755 26.3551C25.6965 27.2341 24.6105 27.0421 23.8245 26.2576L18.8805 21.3121C18.5655 20.9986 18.531 20.6041 18.8805 20.2531L18.351 19.7236C18.2301 19.6026 18.1543 19.4437 18.1365 19.2736C17.1667 20.0659 16.043 20.6482 14.8365 20.9836C12.783 21.5686 10.512 21.4546 8.52897 20.5696C6.56117 19.7396 4.94472 18.2489 3.95847 16.3546L3.92997 16.2961C3.44596 15.3418 3.10722 14.3205 2.92497 13.2661C2.87397 12.9181 2.87697 12.3511 2.90397 11.7856L2.90997 11.7001L3.03747 11.6671H3.03597ZM21.267 19.4566L19.677 21.0466L24.195 25.5676C24.4071 25.7726 24.6912 25.8862 24.9862 25.8837C25.2811 25.8813 25.5633 25.7631 25.772 25.5546C25.9807 25.3462 26.0992 25.064 26.1019 24.7691C26.1046 24.4741 25.9913 24.1899 25.7865 23.9776L21.267 19.4566ZM19.4115 18.6616L18.882 19.1926L19.4115 19.7236L19.9425 19.1926L19.4115 18.6631V18.6616ZM12.0165 6.49659C12.057 6.49787 12.0969 6.5074 12.1336 6.5246C12.1704 6.5418 12.2032 6.56631 12.2302 6.59663C12.2571 6.62696 12.2776 6.66245 12.2904 6.70096C12.3032 6.73947 12.308 6.78017 12.3045 6.82059C12.3465 7.70109 12.216 8.57109 12.0855 9.44259C12.015 10.1326 11.8815 10.8826 11.7405 11.5906L11.6925 11.8201L12.06 11.7961C12.4005 11.7646 12.738 11.7466 13.077 11.7361C13.2585 11.0191 13.4445 10.3081 13.6575 9.63009C13.9215 8.78409 14.2245 7.95009 14.565 7.13259C14.6145 7.00359 14.706 6.92259 14.829 7.06059C14.8694 7.06188 14.9091 7.07137 14.9457 7.08848C14.9824 7.10558 15.0152 7.12996 15.0421 7.16011C15.069 7.19027 15.0896 7.22559 15.1024 7.26392C15.1153 7.30225 15.1202 7.34279 15.117 7.38309C15.159 8.26359 15.0285 9.13359 14.898 10.0051C14.853 10.4311 14.7915 10.8571 14.718 11.2801L14.64 11.7001L14.784 11.7016C15.5115 11.7196 16.266 11.7961 17.043 12.0961C17.127 12.1156 17.193 12.2191 17.277 12.2386C17.3235 12.4291 17.2635 12.6826 17.076 12.7276C16.245 13.0276 15.456 13.1596 14.601 13.1851L14.3295 13.1941C14.184 13.8241 14.013 14.4661 13.8195 15.0826C13.5615 15.9031 13.302 16.7221 12.8715 17.5321C12.78 17.6161 12.6885 17.6986 12.6015 17.6941C12.429 17.6851 12.261 17.5891 12.2685 17.4121C12.24 16.5189 12.2998 15.6251 12.447 14.7436C12.522 14.2291 12.615 13.7311 12.7215 13.2301C12.507 13.2331 12.2955 13.2331 12.0855 13.2316L11.3775 13.2046C11.2665 13.6471 11.142 14.0896 11.0055 14.5201C10.749 15.3406 10.4895 16.1596 10.059 16.9696C9.96747 17.0536 9.87597 17.1361 9.78897 17.1316C9.61647 17.1226 9.44847 17.0266 9.45597 16.8496C9.42749 15.9564 9.48728 15.0625 9.63447 14.1811C9.68697 13.8301 9.74547 13.4866 9.81297 13.1431C8.90715 13.1072 8.00301 13.0371 7.10247 12.9331C7.03084 12.9348 6.96103 12.9105 6.9059 12.8647C6.85076 12.8189 6.81403 12.7548 6.80247 12.6841C6.75597 12.4966 6.88047 12.3451 7.06947 12.3001C8.05947 12.1216 9.06447 12.0136 10.077 11.9326L10.152 11.6206C10.3695 10.7536 10.587 9.88809 10.845 9.06759C11.109 8.22159 11.412 7.38759 11.7525 6.57009C11.802 6.44109 11.8935 6.36009 12.0165 6.49809V6.49659ZM21.5265 12.2341L22.2315 12.0496C22.3965 11.9806 22.551 12.1726 22.4655 12.3391L20.685 15.6361C20.6714 15.6625 20.6508 15.6845 20.6253 15.6997C20.5999 15.715 20.5707 15.7228 20.5411 15.7223C20.5114 15.7219 20.4825 15.7131 20.4576 15.6971C20.4326 15.6811 20.4127 15.6584 20.4 15.6316L20.385 15.5851L19.656 11.8681C19.626 11.7001 19.785 11.5801 19.923 11.6431L20.589 12.0841L20.5905 12.0946M2.90847 11.7001L2.20347 11.8861C2.03997 11.9551 1.88397 11.7631 1.97097 11.5981L3.74997 8.29959C3.82497 8.16459 4.01847 8.19759 4.04997 8.35059L4.78047 12.0661C4.81347 12.2536 4.61547 12.3796 4.47297 12.2656L3.84447 11.8516V11.8426M15.9045 3.36759C17.785 4.16023 19.3475 5.55745 20.3445 7.33809L20.5065 7.64109C20.9895 8.59509 21.3285 9.61659 21.5115 10.6711C21.5625 11.0281 21.558 11.6176 21.528 12.1996L21.5265 12.2341L21.399 12.2686C21.1929 12.3215 20.9746 12.2986 20.784 12.2041L20.691 12.1501L20.589 12.0841L20.5335 11.4436C20.5273 11.3786 20.5208 11.3136 20.514 11.2486L20.4735 10.9186C20.3406 9.92997 20.0349 8.9724 19.5705 8.08959C18.6851 6.39959 17.2427 5.06764 15.4876 4.31942C13.7326 3.5712 11.7729 3.45274 9.94047 3.98409C8.20493 4.49553 6.67952 5.55085 5.58897 6.99459L5.51997 7.08459L5.52147 7.08609L5.44797 7.19109C5.42068 7.22956 5.37989 7.25632 5.33374 7.26605C5.28759 7.27578 5.23947 7.26776 5.19897 7.24359L4.53597 6.84609C4.50241 6.82227 4.47762 6.78807 4.46542 6.74876C4.45322 6.70946 4.45429 6.66723 4.46847 6.62859L4.47747 6.61209L4.48047 6.60609L4.49247 6.58509L4.61847 6.40509L4.62297 6.40659L4.63197 6.39459C5.84697 4.75209 7.65447 3.47709 9.59997 2.95359C11.652 2.36859 13.923 2.48109 15.906 3.36759H15.9045ZM4.62447 6.40509L4.48197 6.60459L4.47897 6.61059M5.42847 7.21059L5.52147 7.08459L5.42847 7.21059Z" fill="white"/>
              </g>
          </g>
          <defs>
              <linearGradient id="paint0_linear_326_17779" x1="0.56304" y1="23.437" x2="24" y2="2.18274e-08" gradientUnits="userSpaceOnUse">
                  <stop stop-color="#001429"/>
                  <stop offset="1" stop-color="#0CBABA"/>
              </linearGradient>
              <clipPath id="clip0_326_17779">
                  <rect width="24" height="24" fill="white"/>
              </clipPath>
          </defs>
        </svg>
        <p class="header-caption">Hreflang Manager</p>
      </div>
    </header>
    <main>
      <section>
        <div class="unsubscribe-block container">
          <h1>We’re sorry that these emails aren’t up your alley</h1>
          <svg
            class="page-svg"
            width="148"
            height="148"
            viewBox="0 0 148 148"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path d="M148 74C148 84.99 145.6 95.43 141.29 104.81C129.61 130.3 103.87 148 74 148C44.13 148 18.39 130.3 6.71 104.81C2.4 95.43 0 84.99 0 74C0 33.13 33.13 0 74 0C114.87 0 148 33.13 148 74Z" fill="#D5F3F8"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M74 148H84C84.5523 148 85 147.552 85 147V97H74V148Z" fill="white"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M74 117H85V97.0002H74V117Z" fill="#D2D5D9"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M101.348 43.4741C89.6998 43.4741 80.2551 52.9189 80.2551 64.5671V97.3947H122.44V64.5671C122.44 52.9189 112.996 43.4741 101.348 43.4741Z" fill="#D9684F"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M58.0527 97.3947H101.348V43.4741H58.0527V97.3947Z" fill="#D9684F"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M58.0527 43.4741C46.4033 43.4741 36.9609 52.9189 36.9609 64.5671V97.3947H79.1456V64.5671C79.1456 52.9189 69.7033 43.4741 58.0527 43.4741Z" fill="#DB393D"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M58.0527 46.8047C48.1864 46.8047 40.1873 54.805 40.1873 64.6712V94.5412H75.9205V64.6712C75.9205 54.805 67.9202 46.8047 58.0527 46.8047Z" fill="#A22F31"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M77.4703 64.5671H122.257V61.8345H77.4703V64.5671Z" fill="#DB393D"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M84.0616 33.9878V45.2109L99.2038 39.5976L84.0616 33.9878Z" fill="#0CB9B9"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M84.0616 70.4351H87.153V32.2144H84.0616V70.4351Z" fill="white"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M90.2457 71.2129C90.2457 73.7088 88.2222 75.7323 85.7263 75.7323C83.2316 75.7323 81.2082 73.7088 81.2082 71.2129C81.2082 68.7171 83.2316 66.6936 85.7263 66.6936C88.2222 66.6936 90.2457 68.7171 90.2457 71.2129Z" fill="white"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M87.8753 71.22C87.8753 72.4076 86.9127 73.369 85.7263 73.369C84.5399 73.369 83.5785 72.4076 83.5785 71.22C83.5785 70.0336 84.5399 69.071 85.7263 69.071C86.9127 69.071 87.8753 70.0336 87.8753 71.22Z" fill="#B5B7B4"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M53.3404 86.6356L0.340981 71.439L44.8037 92.6243L52.0924 104.093L53.3404 86.6356Z" fill="#B5B7B4"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M28.9796 103.466L44.8037 92.6243L0.340996 71.439L28.9796 103.466Z" fill="white"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M40.1506 95.814L52.0925 104.092L44.8038 92.6243L40.1506 95.814Z" fill="#CCCDC9"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M53.3404 86.6356L63.125 79.5079L0.340992 71.439L53.3404 86.6356Z" fill="white"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M100.256 91.6334L144.989 78.8071L107.462 96.6891L101.309 106.366L100.256 91.6334Z" fill="#B5B7B4"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M120.819 105.839L107.462 96.6891L144.989 78.8071L120.819 105.839Z" fill="white"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M111.391 99.3802L101.309 106.366L107.462 96.689L111.391 99.3802Z" fill="#CCCDC9"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M100.256 91.6334L91.998 85.6175L144.989 78.8071L100.256 91.6334Z" fill="white"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M66.5979 22.5376L92.033 15.1737L70.706 25.4047L67.2193 30.9191L66.5979 22.5376Z" fill="#B5B7B4"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M78.32 30.5912L70.706 25.4047L92.033 15.1737L78.32 30.5912Z" fill="white"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M72.9453 26.9297L67.2193 30.9192L70.706 25.4049L72.9453 26.9297Z" fill="#CCCDC9"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M66.5979 22.5376L61.8907 19.1276L92.033 15.1738L66.5979 22.5376Z" fill="white"/>
          </svg>

          <p>
            Click "Confirm" if you no longer wish to receive our updates about your store. Please notice that by
            choosing “Unsubscribe all related stores” we’ll stop sending our notification to all stores in your bunch
            therefore you might miss important updates and billing-related emails
          </p>
          <form>
            <span>Store:</span>
            <a href=""></a>
            <span>Email:</span>
            <a href=""></a>

            <input id="html" type="checkbox">
            <label for="html">Unsubscribe all related stores</label>

            <p class="bottom-text">
              We sincerely look forward to keep in touch with you again, so if you'll decide to update your
              communication preferences you easily can do it <a href="#">here</a>.
            </p>

            <input class="confirm-btn" type="submit" value="Confirm">
          </form>
        </div>
      </section>
    </main>
  </body>
</html>
